@tailwind base;
@tailwind components;
@tailwind utilities;

.manrope {
  font-family: "Manrope", sans-serif;
}

::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8a8e8f;
}

.form-control label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #3b3d3f;
}
